
  #top_scroll {
    /* 按鈕的初始位置 */
    position: fixed;
    bottom: -60px; 
    right: 20px;
    z-index: 999; 
    transition: bottom 0.3s ease-in-out; /* 平滑滑入效果 */
  }
  
  #top_scroll img {
    width: 80px; 
    height: 120px; 
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #top_scroll:hover {
    bottom: 30px;
  }